h1 {
  color: white;
  background-color: black;
}

#app {
  display: flex;
}

#createShapeButtons {
  display: flex;
  flex-direction: column;
}

canvas {
  border: 5px solid black;
}

#paletteOptions p {
  margin-bottom: 0px;
}

#paletteColors {
  display: flex;
  flex-direction: row;
}

#paletteColors span {
  flex: 1;
  height: 30px;
  background: gray;
}