html,
body {
  overflow: hidden;
}

#app {
  display: flex;
  align-items: flex-start;
}

#createShapeButtons {
  display: flex;
  flex-direction: column;
}

canvas {
  border: 0.5em solid black;
}

#paletteOptions p {
  margin-bottom: 0em;
}

#paletteColors {
  display: flex;
  flex-direction: row;
}

#paletteColors span {
  flex: 1;
  height: 5em;
  background: gray;
}

#propertyEditor {
  flex-grow: 1;
  max-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.editCell {
  display: flex;
  flex-flow: column;
}

.editHeader {
  display: flex;
  flex-flow: row;
  background: lightgray;
}

.editHeaderTitle {
  flex-grow: 1;
  text-align: center;
}

.editHeaderButton {
  flex-grow: 1;
}

.editOptionTable {
  display: flex;
  flex-direction: column;
}

.editOptionRow {
  display: flex;
  flex-grow: 1;
  text-align: left;
  margin-left: 5em;
}

.editOptionRow * {
  flex-grow: 1;
}
