h1 {
  color: white;
  background-color: black;
}

#app {
  display: flex;
}

#createShapeButtons {
  display: flex;
  flex-direction: column;
}

canvas {
  border: 5px solid black;
}

#paletteOptions p {
  margin-bottom: 0px;
}

#paletteColors {
  display: flex;
  flex-direction: row;
}

#paletteColors span {
  flex: 1;
  height: 30px;
  background: gray;
}

#propertyEditor {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.editCell {
  display: flex;
  flex-flow: column;
}

.editHeader {
  display: flex;
  flex-flow: row;
}

.editHeaderTitle {
  flex-grow: 1;
  text-align: center;
}

.editHeaderButton {
  flex-grow: 1;
}

.editOptionTable {
  display: flex;
  flex-direction: column;
}

.editOptionRow {
  display: flex;
  flex-grow: 1;
  text-align: center;
}

.editOptionRow * {
  flex-grow: 1;
}
